.startup {
  color: inherit;
}

.startup-info-wrap {  
  display: grid;
  grid-template-columns: 1fr 3fr 7fr 1fr;
  grid-template-areas: '. basics info .';
  place-items: start space-around;
}

.startup-profile {
  grid-area: basics;
}

.startup-cards {
  grid-area: info;
  display: grid;
}