.startup {
  color: inherit;
}

.startup-info-wrap {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    ". basics basics basics info info info info info info info .";
}

.startup-profile {
  grid-area: basics;
}

.startup-cards {
  grid-area: info;
  display: grid;
  row-gap: 16px;
}