@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.app {
  width: 100vw;
  height: 100vh;;
  color: #9ea5b7 !important;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.form-links a {
  color: inherit;
}

/* .logo {
  height: 15vmin;
  pointer-events: none;
} */

/* .header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

a {
  color: inherit;
}

a button, link button, a:link button {
  text-decoration: none !important;
}

button {
  box-sizing: border-box;
  border: none;
  outline: none;
  color: white;
  font-size: 19px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none !important;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  pointer-events: none;
}

.page-content {
  padding: 112px 0 80px;
}

.clickable-icon {
  margin: 0 5px;
  cursor: pointer;
}
