@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.app {
  width: 100vw;
  height: 100vh;;
  color: #9ea5b7 !important;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.form-button button {
  border: none;
  outline: none;
  background-color: #9ea5b7;
  color: white;
  font-size: 19px;
  width: 100%;
  margin: 30px 0;
  padding: 10px;
  border-radius: 35px;
}

.form-links a {
  color: inherit;
}

/* .logo {
  height: 15vmin;
  pointer-events: none;
} */

/* .header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

a {
  color: inherit;
}

.page-content {
  background-color: #F7F7F7;
  padding-top: 80px;
}

.clickable-icon {
  margin: 0 5px;
  cursor: pointer;
}
