.login {
  display: grid;
  grid-template-columns: 3fr 2fr;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.login-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-image-title {
  color: #fff;
  position: absolute;
  width: 530px;
  height: 216px;
  left: 70px;
  top: 73px;
  text-align: left;
  font-weight: 600;
  font-size: 75px;
  line-height: 75px;
}

.login-form {
  padding: 60px 40px 25px;
  background-color: #f7f7f7;
}

.login-form .form-button button {
  margin: 30px 0 !important;
}

.login-fields .form-item {
  margin: 30px 0;
}

.form-links {
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .login-image {
    display:none;
  }

  .login-form {
    width: 100%;
  }
}