.filtros {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.filtros .form-item {
  margin-top: -1em;
}

.vitrine {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas: '. wrap .';
  gap: 20px;
  place-items: center;
}

.vitrine .wrap {
  justify-content: center;
  grid-area: wrap;
  display: flex;
  flex-flow: row wrap;
}

.startup-card {
  flex-basis: 30%;
  max-width: 380px;
}