.vitrine {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas: '. filter .' '. wrap .';
  place-items: center;
}

.vitrine .wrap {
  justify-content: center;
  grid-area: wrap;
  display: flex;
  flex-flow: row wrap;
}

.startup-card {
  margin: 0 50px;
  flex-basis: 23%;
  max-width: 380px;
}