.vitrine {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas: '. filter .' '. wrap .';
  place-items: center;
}

.filtros {
  grid-area: filter;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  place-self: center start;
  gap: 16px;
}

.filtros .form-item {
  margin-top: -1em;
}

.vitrine .wrap {
  justify-content: center;
  grid-area: wrap;
  display: flex;
  flex-flow: row wrap;
}

.startup-card {
  margin: 0 50px;
  flex-basis: 23%;
  max-width: 380px;
}