.form-item {
  margin: 0;
  text-align: left;
}

.form-item label {
  font-weight: bold;
}

.form-item-field {
  display: grid;
  grid-template-columns: 20px auto;
  padding: 10px;
  margin: 6px 1px;
}

.border {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 #d5d8e2;
}

.no-border {
  border-bottom: 1px solid #d5d8e2;
}

.form-item-icon {
  padding: 2px;
}

.form-item-field input {
  padding-left: 5px;
  border: none;
}

.form-item-field input:focus {
  border: none;
  outline: none;
}