.startup-list {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas: '. filter .' '. wrap .';
}

.filtros {
  grid-area: filter;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  place-self: center start;
  gap: 16px;
}

.filtros .form-item {
  margin-top: -1em;
}

.startup-list .wrap {
  justify-content: center;
  grid-area: wrap;
}

.startup-list .wrap .card {
  margin: 12px 50px;
}

.startup-list .wrap .card .card-body {
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  align-items: center;
}

.startup-list .wrap .card .card-body section {
  justify-self: center;
}

.startup-list .wrap .card .card-body section:first-child {
  justify-self: start !important;
}

.startup-list .wrap .card .card-body section:last-child {
  justify-self: end !important;
}