.pagination {
  margin: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagination button.pagination-button {
  font-size: 1rem;
  background-color: inherit;
  color: inherit;
  margin: 0 8px !important;
  padding: 0;
  width: 32px !important;
  height: 32px !important;
  border-radius: 32px;
  text-align: center;
  line-height: 32px;
}

.pagination button.pagination-button:hover {
  background-color: #fff;
}

.pagination button.pagination-button.action {
  padding: 6px 0;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.pagination button.pagination-button.active,
.pagination button.pagination-button.action:hover {
  color: #fff;
  background-color: #9EA5B7;
}

.pagination button.pagination-button.action:disabled {
  pointer-events: none;
  background-color: inherit;
}

.pagination button.pagination-button:disabled {
  color: #C7C7C7;
}