.startup-profile {
  text-align: center;
}

.startup-avatar-border {
  margin: 0 auto 16px;
  box-sizing: border-box;
  height: 170px;
  width: 170px;
  border-radius: 170px;
  background-color: #9EA5B7;
  color: #fff;
  line-height: 170px;
  padding: 35px 0;
}

.startup-name {
  line-height: 28px;
  font-size: 28px;
}

.startup-contact {
  font-size: 13px;
  margin: 12px 0;
}

.startup-tags {
  overflow: hidden;
}
